<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/home/index">Home</a>
            </li>
            <li>
                <a href="/home/sobre">Sobre</a>
            </li>
        </ul>

    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
